# EditorConfig <http://EditorConfig.org>
root = true

# global defaults
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 140

# 2-space indented (Prettier-managed)
[*.{js,ts,mjs,cjs,mts,cts,json,css,scss,html,xml,md,yml,yaml}]
indent_style = space
indent_size = 2
tab_width = 2

# 4-space indented
[*.{py,php}]
indent_style = space
indent_size = 4
tab_width = 4

# nginx config files use tabs
[nginx-config/**]
indent_style = tab
indent_size = 4
tab_width = 4
